table {
  width: 100%;
}
.capitalize {
  text-transform: capitalize;
}
.mat-row {
  min-height: 80px;
}
table {
  background-color: ghostwhite;
}
.left-margin {
  margin-left: 2em;
}
.buttons {
  margin-top: 2em;
}
